.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Temp office files
~$*.docx
~$*.xlsx
~$*.pptx

# Ignore Week 1 hobby project (focusing repository solely on Aura)
Week 1/

# Ignore chapter study notes
Week 2/Chapter_2_Notes.md
Week 2/Chapter_3_Notes.md
